body {
  margin: 0;
  font-family: 'Public Sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#root {
  width: 100%;
  height: 100%;
}


.navbar-wrapper {
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);*/
  width: 100%;
  height: 100vh;
  gap: 10px;
  grid-auto-rows: 6%;
  grid-template-areas:
    "a"
    "b"
    "c"
    "c"
    "c"
    "c"
    "c"
    "c"
    "c";
  position: sticky;
}
.navbar-item1 {
  width: 100%;
  grid-area: a;
}
.navbar-item2 {
  grid-area: b;
}
.navbar-item3 {
  grid-area: c;
}
